<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shuhang.hanghang3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gewang"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".login.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".fragment_main.FragmentMain"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.Setting"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.Head"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.Signature" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.Personal_data" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.State" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mydoge.Personal_space" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".community.Music_main" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".login.Register" android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
